// FONTS
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
$font-family-heading: 'Archivo', Verdana, sans-serif;
$font-family-body: 'Open Sans', Verdana, sans-serif;

//COLORS
$white: #ffffff;
$black: #000000;
$primary: #42b983;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;

//BREAKPOINTS
$mobile: 560px;
$tablet: 1025px;
$large: 1281px;